body{
    background: rgb(111, 111, 241);
    font: normal 15pt Arial;
}
header {
    color: white;
    text-align: center;

}
div{
    text-align: center;
    padding: 5px;
}
section {
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 4px 3px 10px rgba(0, 0, 0, 0.384);
}


footer {
    color: white;
    text-align: center;
    font-style: italic;
}
